  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="color: navy;" href="/admins">HACKTIVTRAVEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admins/users">Data User <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admins/travels">Data Travel</a>
        </li>
        <li class="nav-item"> 
          <a href="/admins/transactions" class="nav-link">Data Transaction</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-sm-2">
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>WELCOME TO HACKTIVTRAVEL</h1>
  <br>
  <h3>Semangat MIMINNN !!!</h3>
  <br>